<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shin.final_project">

    <application
        android:allowBackup="true"
        android:configChanges="orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".outgame.MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".outgame.GameLayout"
            android:screenOrientation="landscape" />
        <activity
            android:name=".outgame.OptionActivity"
            android:screenOrientation="landscape"
            android:theme="@style/mystlye" />
        <activity
            android:name=".outgame.StageActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".outgame.GameEndActivity"
            android:theme="@style/mystlye" />
        <activity
            android:name=".outgame.GameOverActivity"
            android:theme="@style/mystlye" />
        <activity
            android:name=".outgame.LoadingActivity"
            android:theme="@style/mystlye" />
        <activity android:name=".selectCharacter.SelectActivity"
            android:screenOrientation="landscape"/>
    </application>

</manifest>